{{extend defaultLayout}} {{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}template/admin/css/index.css" />
<title>kkkkkk-10086</title>
<style>
  .container {
    background: url('{{@_res_path}}image/admin/default.jpg') #000144 top !important;
    background-size: cover !important;
  }
</style>
{{/block}} {{block 'main'}}
<div class="info_box">
  <div class="head-box type{{bgType}}">
    <div style="height: 280px;"></div>
    <div class="title">kkk管理面板</div>
  </div>
</div>
<div class="cfg-box">
  <div class="cfg-group">Cookies相关</div>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        抖音ck
        <span class="cfg-hint">#kkk设置抖音ck</span>
        {{@data.d}}
      </div>
      <div class="cfg-desc">抖音ck，用于请求官方API数据</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站ck
        <span class="cfg-hint">#kkk设置B站ck</span>
        {{@data.b}}
      </div>
      <div class="cfg-desc">B站ck，用于请求官方API数据</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        快手ck
        <span class="cfg-hint">#kkk设置快手ck</span>
        {{@data.k}}
      </div>
      <div class="cfg-desc">快手ck，用于请求官方API数据</div>
    </li>
  </ul>
</div>
<div class="cfg-box">
  <div class="cfg-group">应用设置</div>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        默认解析
        <span class="cfg-hint">#kkk设置默认解析 + 开启/关闭</span>
        {{@data.defaulttool}}
      </div>
      <div class="cfg-desc">识别最高优先级，修改后重启生效</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        解析优先级
        <span class="cfg-hint">#kkk设置优先级 + 优先级</span>
        {{@data.priority}}
      </div>
      <div class="cfg-desc">自定义优先级，「默认解析」关闭后才会生效。修改后重启生效</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        发送合并转发消息
        <span class="cfg-hint">#kkk设置转发 + 开启/关闭</span>
        {{@data.sendforwardmsg}}
      </div>
      <div class="cfg-desc">发送合并转发消息，可能多用于抖音解析</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        缓存删除
        <span class="cfg-hint">#kkk设置缓存删除 + 开启/关闭</span>
        {{@data.rmmp4}}
      </div>
      <div class="cfg-desc">自动删除下载到本地的视频缓存。保存目录/resources/kkkdownload，若要关闭请随时留意硬盘容量</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        API服务
        <span class="cfg-hint">#kkk设置API服务 + 开启/关闭</span>
        {{@data.APIServer}}
      </div>
      <div class="cfg-desc">本地部署一个视频解析API服务，接口范围为本插件用到的所有，默认端口4567</div>
    </li>
      <div class="cfg-line">
        主题色
        <span class="cfg-hint">#kkk设置主题 + 0 ~ 2</span>
        {{@data.Theme}}
      </div>
      <div class="cfg-desc">渲染评论图和推送图的主题色。0：早晨和傍晚6点自动切换浅色和深色；1：浅色；2：深色</div>
    </li> -->
  </ul>
</div>
<div class="cfg-box">
  <div class="cfg-group">抖音相关</div>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        抖音解析开关
        <span class="cfg-hint">#kkk设置抖音解析 + 开启/关闭</span>
        {{@data.douyintool}}
      </div>
      <div class="cfg-desc">抖音解析开关，单独开关</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        抖音解析提示
        <span class="cfg-hint">#kkk设置抖音解析提示 + 开启/关闭</span>
        {{@data.douyintip}}
      </div>
      <div class="cfg-desc">发送提示信息：“检测到抖音链接，开始解析”</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        抖音评论解析
        <span class="cfg-hint">#kkk设置抖音评论 + 开启/关闭</span>
        {{@data.comments}}
      </div>
      <div class="cfg-desc">开启抖音评论解析</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        抖音评论数量
        <span class="cfg-hint">#kkk设置抖音评论数量 + 1 ~ x</span>
        {{@data.numcomments}}
      </div>
      <div class="cfg-desc">设置接口返回的评论数量，范围 x 条</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        抖音推送
        <span class="cfg-hint">#kkk设置抖音推送 + 开启/关闭</span>
        {{@data.douyinpush}}
      </div>
      <div class="cfg-desc">修改后需重启；使用[#设置抖音推送+抖音号]配置推送列表</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        抖音推送日志
        <span class="cfg-hint">#kkk设置抖音推送日志 + 开启/关闭</span>
        {{@data.douyinpushlog}}
      </div>
      <div class="cfg-desc">打开或关闭定时任务日志</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        抖音推送设置权限
        <span class="cfg-hint">#kkk设置抖音推送设置权限 + 权限</span>
        {{@data.douyinpushGroup}}
      </div>
      <div class="cfg-desc">0: (all)所有人, 1: (admin)群主和管理员, 2: (owner)群主, 3: (master)主人</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        抖音推送表达式
        <span class="cfg-hint">#kkk设置抖音推送表达式 + Cron表达式</span>
        {{@data.douyinpushcron}}
      </div>
      <div class="cfg-desc">建议使用[锅巴后台面板]设置</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        图集BGM是否使用高清语音发送
        <span class="cfg-hint">#kkk设置抖音高清语音 + 开启/关闭</span>
        {{@data.sendHDrecord}}
      </div>
      <div class="cfg-desc">高清语音「ios/PC」系统均无法播放，自行衡量开关</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        抖音推送解析
        <span class="cfg-hint">#kkk设置抖音推送解析 + 开启/关闭</span>
        {{@data.senddynamicwork}}
      </div>
      <div class="cfg-desc">推送新作品时一同解析其中内容并发送</div>
    </li>
      <div class="cfg-line">
        抖音自动清晰度
        <span class="cfg-hint">#kkk设置抖音自动清晰度 + 开启/关闭</span>
        {{@data.bilibili.autoResolution}}
      </div>
      <div class="cfg-desc">根据「视频拦截阈值」自动选择合适的分辨率，关闭后默认选择最大分辨率进行下载</div>
    </li> -->
  </ul>
</div>
<div class="cfg-box">
  <div class="cfg-group">bilibili相关</div>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        B站解析开关
        <span class="cfg-hint">#kkk设置B站解析 + 开启/关闭</span>
        {{@data.bilibilitool}}
      </div>
      <div class="cfg-desc">B站解析开关，单独开关</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站解析提示
        <span class="cfg-hint">#kkk设置B站解析提示 + 开启/关闭</span>
        {{@data.bilibilitip}}
      </div>
      <div class="cfg-desc">发送提示信息：“检测到B站链接，开始解析”</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站评论解析
        <span class="cfg-hint">#kkk设置B站评论 + 开启/关闭</span>
        {{@data.bilibilicommentsimg}}
      </div>
      <div class="cfg-desc">开启B站评论解析</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站评论数量
        <span class="cfg-hint">#kkk设置B站评论数量 + 1 ~ x</span>
        {{@data.bilibilinumcomments}}
      </div>
      <div class="cfg-desc">设置接口返回的评论数量，范围 x 条</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站推送
        <span class="cfg-hint">#kkk设置B站推送 + 开启/关闭</span>
        {{@data.bilibilipush}}
      </div>
      <div class="cfg-desc">修改后需重启；使用[#设置B站推送+用户UID]配置推送列表</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站推送日志
        <span class="cfg-hint">#kkk设置B站推送日志 + 开启/关闭</span>
        {{@data.bilibilipushlog}}
      </div>
      <div class="cfg-desc">打开或关闭定时任务日志</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站推送设置权限
        <span class="cfg-hint">#kkk设置B站推送设置权限 + 权限</span>
        {{@data.bilibilipushGroup}}
      </div>
      <div class="cfg-desc">0: (all)所有人, 1: (admin)群主和管理员, 2: (owner)群主, 3: (master)主人</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站推送表达式
        <span class="cfg-hint">#kkk设置B站推送表达式 + Cron表达式</span>
        {{@data.bilibilipushcron}}
      </div>
      <div class="cfg-desc">建议使用[后台面板]设置</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站推送解析
        <span class="cfg-hint">#kkk设置B站推送解析 + 开启/关闭</span>
        {{@data.senddynamicvideo}}
      </div>
      <div class="cfg-desc">推送新作品时一同解析其中内容并发送（暂只支持「视频动态」与「图文动态」）</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站视频解析内容优先
        <span class="cfg-hint">#kkk设置B站内容优先 + 开启/关闭</span>
        {{@data.videopriority}}
      </div>
      <div class="cfg-desc">番剧解析自动选择分辨率。<br />开启时根据上传设置的「视频拦截阈值」值自动选择合适分辨率<br />关闭时下载番剧将不受视频文件大小限制，下载可支持的最高分辨率视频文件</div>
    </li>
      <div class="cfg-line">
        B站自动清晰度
        <span class="cfg-hint">#kkk设置B站自动清晰度 + 开启/关闭</span>
        {{@data.bilibili.autoResolution}}
      </div>
      <div class="cfg-desc">根据「视频拦截阈值」自动选择合适的分辨率，关闭后默认选择最大分辨率进行下载</div>
    </li> -->
  </ul>
</div>
<div class="cfg-box">
  <div class="cfg-group">推送相关</div>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        抖音推送
        <span class="cfg-hint">#设置抖音推送 + 抖音号</span>
        {{@data.douyin}}
      </div>
      <div class="cfg-desc">再发送此命令一次即可取消在当前群的推送</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        B站推送
        <span class="cfg-hint">#设置B站推送 + 用户UID</span>
        {{@data.bilibili}}
      </div>
      <div class="cfg-desc">再发送此命令一次即可取消在当前群的推送</div>
    </li>
  </ul>
</div>
<div class="cfg-box">
  <div class="cfg-group">快手相关</div>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        快手解析开关
        <span class="cfg-hint">#kkk设置快手解析 + 开启/关闭</span>
        {{@data.kuaishoutool}}
      </div>
      <div class="cfg-desc">快手解析开关，单独开关</div>
    </li>
  </ul>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        快手解析提示
        <span class="cfg-hint">#kkk设置快手解析提示 + 开启/关闭</span>
        {{@data.kuaishoutip}}
      </div>
      <div class="cfg-desc">发送提示信息：“检测到快手链接，开始解析”</div>
    </li>
  </ul>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        快手评论数量
        <span class="cfg-hint">#kkk设置快手评论数量 + 1 ~ 30</span>
        {{@data.kuaishounumcomments}}
      </div>
      <div class="cfg-desc">快手评论数量，范围1 ~ 30条</div>
    </li>
  </ul>
</div>
<div class="cfg-box">
  <div class="cfg-group">上传设置（该板块设置是全局生效的）</div>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        视频上传拦截
        <span class="cfg-hint">#kkk设置上传拦截 + 开启/关闭</span>
        {{@data.usefilelimit}}
      </div>
      <div class="cfg-desc">开启后会根据视频文件大小判断是否需要上传，需配置「视频拦截阈值」。</div>
    </li>
    <li class="cfg-li">
      <div class="cfg-line">
        视频拦截阈值
        <span class="cfg-hint">#kkk设置上传拦截阈值 + 0 ~ x</span>
        {{@data.filelimit}}
      </div>
      <div class="cfg-desc">视频文件大于该数值则直接结束任务，不会上传，单位: MB，「视频上传拦截」开启后才会生效。</div>
    </li>
  </ul>
</div>
<div class="cfg-box">
  <div class="cfg-group">其他设置</div>
  <ul class="cfg-ul">
    <li class="cfg-li">
      <div class="cfg-line">
        渲染精度
        <span class="cfg-hint">#kkk设置渲染精度 + 100</span>
        {{@data.renderScale}}
      </div>
      <div class="cfg-desc">可选值50~200，建议100。设置高精度会提高图片的精细度，过高可能会影响渲染与发送速度</div>
    </li>
  </ul>
</div>
{{/block}}

<!-- from yenai-plugin -->
