/* 极细体字体 */
@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('../font/HarmonyOS_Sans_SC_Thin.ttf') format('truetype');
    font-weight: 100;
    /* Thin */
    font-style: normal;
}

/* 细体字体 */
@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('../font/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

/* 常规体字体 */
@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('../font/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

/* 中等粗细字体 */
@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('../font/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

/* 粗体字体 */
@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('../font/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

/* 极粗体字体 */
@font-face {
    font-family: 'HarmonyOS Sans SC';
    src: url('../font/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
    font-weight: 900;
    /* Black */
    font-style: normal;
}

/* 设置根元素的默认字体 */
:root {
    --vp-sidebar-width: 300px;
    --vp-font-family-base: 'HarmonyOS Sans SC', sans-serif;
}