/* .vitepress\theme\style\link.css */
.vp-doc a[href^="https://github.com/yoimiya-kokomi/Miao-Yunzai"]:before,
[href^="https://gitee.com/yoimiya-kokomi/Miao-Yunzai"]:before,
[href^="https://github.com/TimeRainStarSky/Yunzai"]:before,
[href^="https://gitee.com/TimeRainStarSky/Yunzai"]:before,
[href^="https://github.com/yhArcadia/Yunzai-Bot-plugins-index"]:before,
[href^="https://gitee.com/yhArcadia/Yunzai-Bot-plugins-index"]:before,
[href^="https://github.com/Loli-Lain/Lain-plugin"]:before,
[href^="https://gitee.com/Zyy955/Lain-plugin"]:before,
[href^="https://github.com/icqqjs/icqq"]:before,
[href^="https://github.com/guoba-yunzai/guoba-plugin"]:before,
[href^="https://www.douyin.com"]:before,
[href^="https://www.bilibili.com"]:before,
[href^="https://res.viayoo.com/v1/via-release-cn.apk"]:before,
[href^="https://qm.qq.com/q/k6Up32hdWE"]:before {
    content: '➹';
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    color: var(--vp-c-green-1);
    font-size: 13px;
    border: 3px solid var(--vp-c-green-1);
    margin-right: 8px;
    margin-left: 4px;
    line-height: 15px;
    padding-left: 1.5px;
}