public-hoist-pattern[]=*sqlite3*
public-hoist-pattern[]=*express*
sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/sqlite3
node_sqlite3_binary_host_mirror=https://registry.npmmirror.com/-/binary/sqlite3
sharp_binary_host=https://registry.npmmirror.com/-/binary/sharp
sharp_libvips_binary_host=https://registry.npmmirror.com/-/binary/sharp-libvips
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
