{{extend defaultLayout}} {{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}html/pushlist/pushlist.css" />
{{/block}} {{block 'main'}}

<!-- 抖音推送列表 -->
{{@group_id}}
<div style="height: 20px"></div>
{{if length.douyin.length > 0 }}
<div class="section">
  <h2 class="title">抖音推送列表</h2>
  {{each data.douyin val }}
  <ul class="user-list">
    <li>
      <img src="{{val.avatar_img}}" alt="用户头像" />
      <div class="user-info">
        <span class="nickname">{{val.remark}}</span>
        <span class="user-id">
          <span style="color: #FFD700">用户ID:</span>
          {{val.sec_uid}}
        </span>
        <span class="timestamp">
          <span style="color: #FFD700">最新作品发布时间:</span>
          {{val.create_time}}
        </span>
        {{if isMaster}}
        <span class="group_list" style="color: #FFD700">推送群:</span>
        <ul class="markdown-style">
          {{each val.group_id gid}}
          <bi>
            <span style="font-size: 25px"><code>{{gid}}</code></span>
          </bi>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </li>
  </ul>
  {{/each}}
</div>
{{else}}
<h2 class="title">抖音暂无推送博主</h2>

{{/if}} {{if length.bilibili.length > 0 }}
<div class="section">
  <h2 class="title">B站推送列表</h2>
  {{each data.bilibili val }}
  <ul class="user-list">
    <li>
      <img src="{{val.avatar_img}}" alt="用户头像" />
      <div class="user-info">
        <span class="nickname">{{val.remark}}</span>
        <span class="user-id">
          <span style="color: #FFD700">UID:</span>
          {{val.host_mid}}
        </span>
        <span class="timestamp">
          <span style="color: #FFD700">最新动态发布时间:</span>
          {{val.create_time}}
        </span>
        {{if isMaster}}
        <span class="group_list" style="color: #FFD700">推送群:</span>
        <ul class="markdown-style">
          {{each val.group_id gid}}
          <bi>
            <span style="font-size: 25px"><code>{{gid}}</code></span>
          </bi>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </li>
  </ul>
  {{/each}}
</div>
{{else}}
<h2 class="title">B站暂无推送UP</h2>
{{/if}} {{/block}}
