@font-face {
  font-family: 'HarmonyOS_Sans';
  src: url('../../font/HarmonyOS_Sans_SC_Regular.ttf');
}

h1 {
  font-size: 100px;
}

body {
  color: #cdd7e0;
}

.container {
  width: 1440px;
  height: auto;
  margin: 0;
  background-color: #1e1e1e;
}

.section {
  margin-bottom: 20px;
}

.title {
  font-size: 77px;
  color: #FFD700;
  border-bottom: 2px solid #ffffff61;
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
  padding: 0 0 10px 30px;
}

.user-list {
  list-style: none;
  padding: 35px 0 0 55px;
}

.user-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
  padding-bottom: 10px;
}

.user-list img {
  width: 150px;
  border-radius: 999px;
  margin-right: 53px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-id,
.dynamic-id,
.timestamp,
.group_list {
  font-size: 35px;
  color: #cdd7e0;
  word-break: break-all;
  overflow-wrap: break-word;
}

.nickname {
  font-size: 45px;
  font-weight: bold;
}


ul.markdown-style {
  list-style: none;
}

ul.markdown-style bi {
  display: list-item;
  font-size: 14px;
}

ul.markdown-style bi::before {
  content: "•";
  color: #ffffff;
  font-size: 35px;
  vertical-align: middle;
  /* margin-top: 50px; */
}

ul.markdown-style bi.star::before {
  content: "*";
}

ul.markdown-style li.plus::before {
  content: "+";
}

code {
  font-family: monospace;
  color: #cdd7e0;
  background-color: #ffffff1c;
  padding: 5px 12px;
  border-radius: 8px;
}