@font-face {
  font-family: 'HarmonyOS_Sans';
  src: url('../../font/HarmonyOS_Sans_SC_Regular.ttf');
}

.container {
  transform: scale(1.4);
  transform-origin: 0 0;
  position: relative;
  font-family: 'HarmonyOS_Sans', Arial, sans-serif;
  background-color: #f4f4f4;
  width: fit-content;
  height: auto;
}

.spacer1 {
  height: 20px;
}

.spacer2 {
  height: 70px;
}

.spacer3 {
  height: 10px;
}

.spacer4 {
  height: 20px;
}

.spacer5 {
  height: 25px;
}

.spacer6 {
  height: 80px;
}

.container {
  width: 100% !important;
}

.bitop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 50px 0;
}

.bitop img {
  width: 140px;
  height: auto;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 10px 20px 0px #4343434f;
  border-radius: 25px;
  width: 95%;
  flex: 1;
}

.imgbox_1 {
  border-radius: 25px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.info {
  display: flex !important;
  flex-direction: column;
  padding: 0 30px;
}

.info_title {
  font-size: 32px;
  align-items: center;
  letter-spacing: 1.5px;
  position: relative;
  word-wrap: break-word;
}

.info_text {
  font-size: 21px;
  align-items: center;
  letter-spacing: 1.5px;
  position: relative;
  word-wrap: break-word;
}

.under {
  display: flex;
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.other_text {
  width: inherit;
  color: #808080;
  font-size: 28px;
  text-align: right;
  margin: 0 20px -19px 0;
  z-index: -1;
}

.rectangular_box {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 15px 0;
  background-color: #ececec3d;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(2px);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 15px;
}

.userinfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.userinfo_text {
  display: flex;
  font-size: 2em;
  color: #2f2f2fb8;
  padding: 25px 0 0 150px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  letter-spacing: 2.5px;
}

.name_and_followers {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.livestat {
  width: 65px;
  height: auto;
}

.avatar {
  margin: 0 15px 0 0;
  border-radius: 50%;
  height: auto;
  width: 60px;
}

.avatarinfo {
  display: flex;
  align-items: center;
}

.username {
  font-size: 17px;
}

.qrcode_box {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0 20px 0px 0 !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.qrcode_text {
  font-size: 20px;
  color: #2f2f2fb8;
  margin-left: 10px;
  text-align: right;
  margin-right: 10px;
}

#qrcode {
  border: 2px solid #808080;
  padding: 8px;
  border-radius: 3%;
}

#qrcode img {
  width: 150px;
  height: 150px;
}

.ftext {
  color: #808080;
  font-size: 15px;
}