{{extend defaultLayout}} {{block 'css'}}
<script src="{{_res_path}}template/extend/js/qrcode.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{_res_path}}template/douyin/css/base.css" />
{{/block}} {{block 'main'}}

<div class="spacer1"></div>
<div class="bitop">
  <div class="logo"></div>
  &nbsp;&nbsp;&nbsp;&nbsp;抖音 记录美好生活
</div>
<div class="spacer2"></div>
<div class="cover">
  <div class="imgbox">
    <img class="imgbox_1" src="{{image_url}}" alt="封面" />
  </div>
</div>
<div class="spacer3"></div>
<div class="info">
  <div class="info_text">
    {{@desc}}
  </div>
  <div class="spacer4"></div>
  <div class="work_status">音乐ID: {{music_id}}</div>
  <div class="work_status">{{user_count}} 人使用过</div>
  <div class="spacer5"></div>
  <div class="work_status">图片生成于{{create_time}}</div>
</div>
<div class="spacer6"></div>
<div class="other_text">抖音音乐信息</div>
<div class="under">
  <div class="rectangular_box">
    <div class="user" style="align-items: center">
      <div class="userinfo">
        <div><img src="{{avater_url}}" alt="头像" class="avatar" /></div>
        <div class="name_and_followers">
          <div class="qrcode_text"></div>
          <span style="font-weight: 700; color: #606060; font-size: 80px">{{username}}</span>
        </div>
      </div>
      <div class="userinfo_text">
        <span>ID: {{user_shortid}}</span>
        <span>获赞: {{total_favorited}}</span>
        <span>关注: {{following_count}}</span>
        <span>粉丝: {{fans}}</span>
      </div>
    </div>
    <div class="qrcode_box">
      <div class="qrcode_text" style="font-size: 45px">文件直链：永久有效</div>
      <div id="qrcode"></div>
    </div>
  </div>
</div>
<script>
  qrcode = new QRCode(document.getElementById('qrcode'), {
    width: 600,
    height: 600,
    colorDark: '{{useDarkTheme}}' === 'true' ? '#c3c3c3' : '#3a3a3a',
    colorLight: '{{useDarkTheme}}' === 'true' ? '#121212' : '#f4f4f4',
  })
  qrcode.makeCode('{{share_url}}')
</script>
{{/block}}