@font-face {
  font-family: 'HarmonyOS_Sans';
  src: url('../../font/HarmonyOS_Sans_SC_Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
  background: url('../../../../../plugins/kkkkkk-10086/resources/pic/default.jpg') #000144 left top no-repeat;
  background-size: 520px auto;
  padding: 20px 15px 10px 15px;
  background-size: contain;
  font-size: 18px;
  color: #1e1f20;
  font-family: 'HarmonyOS_Sans', 'FZB', Number, '汉仪文黑-65W', YS, PingFangSC-Medium, 'PingFang SC', sans-serif;
  width: 1440px;
}

.head-box {
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
  color: #fff;
  margin-top: 30px;
}

.head-box .title {
  font-family: Number, '印品南征北战NZBZ体', NZBZ, '汉仪文黑-65W', YS, PingFangSC-Medium, 'PingFang SC', sans-serif;
  font-size: 36px;
  text-shadow:
    0 0 1px #000,
    1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .title .label {
  display: inline-block;
  margin-left: 10px;
}

.head-box .genshin_logo {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 97px;
}

.head-box .label {
  font-size: 16px;
  text-shadow:
    0 0 1px #000,
    1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .label span {
  color: #d3bc8e;
  padding: 0 2px;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
  margin: 10px 0;
}

.copyright .version {
  color: #d3bc8e;
  display: inline-block;
  padding: 0 3px;
}

.head-box {
  margin: 0 0 80px 0;
}

.cfg-box {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
  overflow: hidden;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 26px;
  box-shadow:
    0 8px 32px 0 rgba(51, 51, 52, 0.5),
    inset 3px 3px 10px 0px rgba(255, 255, 255, 0.8);
}

.cfg-group {
  color: #f9b3c6;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  text-shadow: 1px 1px 1px #000;
}

.cfg-li {
  min-height: 36px;
  position: relative;
  list-style: none;
  margin-bottom: 10px;
  background: rgba(203, 196, 190, 0);
}

.cfg-line {
  color: #303030;
  line-height: 36px;
  padding-left: 20px;
  font-weight: bold;
  border-radius: 5px 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(90deg, #fceae7 40%, #fbf3f1 65%, #ffd5e0);
}

.cfg-hint {
  font-size: 16px;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: -3px;
}

.cfg-status {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 160px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  color: #2d5285;
  font-weight: bold;
  border-radius: 0 16px 16px 0;
}

.cfg-status.status-off {
  color: #b74545;
}

.cfg-desc {
  font-size: 16px;
  color: #454444;
  margin: 5px 0 5px 20px;
}

.badge {
  display: inline-block;
  vertical-align: top;
  height: 18px;
  padding: 0 6px;
  border-radius: 3px;
  background: #f4cd00;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

/* from yenai-plugin */