.container {
  width: 1440px;
  /* 调整宽度至1440px */
  padding: 10px 0 10px 0;
  background-image: url(./img/bg-sr.webp);
  background-size: 100% 100%;
  /* 保持背景图像比例 */
}

.log-cont {
  background-size: cover;
  margin: 14px 40px 14px 27px;
  /* 原值乘以2.77 */
  border-radius: 10px;
}

.log-cont .cont {
  margin: 0;
}

.log-cont .cont-title {
  font-size: 45px;
  /* 根据比例调整字体大小 */
  padding: 10px 55px 6px;
}

.log-cont .cont-title.current-version {
  font-size: 75px;
}

.log-cont ul {
  font-size: 35px;
  padding-left: 55px;
}

.log-cont ul li {
  margin: 8.5px 0;
  /* 调整行间距 */
}

.log-cont ul.sub-log-ul li {
  margin: 3px 0;
}

.log-cont .cmd {
  color: #d3bc8e;
  display: inline-block;
  border-radius: 8.5px;
  /* 调整边框圆角大小 */
  background: rgba(0, 0, 0, 0.5);
  padding: 0 8.5px;
  margin: 3px 8.5px;
}

.log-cont .strong {
  color: #24d5cd;
  font-weight: bold;
}

.log-cont .new {
  display: inline-block;
  width: 50px;
  /* 调整宽度 */
  margin: 0 -8.5px 0 3px;
}

.log-cont .new:before {
  content: 'NEW';
  display: inline-block;
  transform: scale(0.6);
  transform-origin: 0 0;
  color: #d3bc8e;
  white-space: nowrap;
}