@font-face {
  font-family: 'HarmonyOS_Sans';
  src: url('../../font/HarmonyOS_Sans_SC_Regular.ttf');
}

.container {
  position: relative;
  font-family: 'HarmonyOS_Sans', Arial, sans-serif;
  background-color: #f4f4f4;
  width: 1440px;
  height: auto;
}

.spacer1 {
  height: 60px;
}

.spacer2 {
  height: 70px;
}

.spacer3 {
  height: 50px;
}

.spacer4 {
  height: 20px;
}

.spacer5 {
  height: 10px;
}

.spacer6 {
  height: 80px;
}

.container {
  width: 850px;
  margin: 0 auto;
}

.bitop {
  color: #3e3e3eb8;
  font-size: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 50px;
}

.bitop img {
  width: 220px;
  height: auto;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 10px 20px 0px #4343434f;
  border-radius: 25px;
  width: 90%;
  flex: 1;
}

.imgbox_1 {
  border-radius: 25px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.info {
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  padding: 0 30px !important;
}

.info_text {
  font-size: 40px;
  align-items: center;
  letter-spacing: 1.5px;
  position: relative;
  word-wrap: break-word;
}

.info_text img {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-8%) scale(0.8);
}

.background-square {
  display: flex;
  border: 2px solid #c0c0c0;
  background-color: #f4f4f4;
  /* width: 100%; */
  /* height: 3em; */
  align-items: center;
}

.under {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.rectangular_box {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3em 0 2em 0;
  background-color: #ececec3d;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
}

.userinfo {
  display: flex;
  align-items: center;
}

.userinfo_text {
  display: flex;
  font-size: 20px;
  color: #2f2f2fb8;
  padding: 25px 0 0 0;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  letter-spacing: 2.5px;
}

.name_and_followers {
  display: flex;
  font-size: 30px;
  flex-direction: column;
}

.name_and_followers_text {
  font-size: 20px;
  color: #2f2f2fb8;
  margin-left: 10px;
  text-align: right;
  margin-right: 10px;
}

.avatar {
  margin: 0px 20px 0 0;
  border-radius: 50%;
  height: auto;
  width: 80px;
  box-shadow: 0px 10px 20px 0px #4343434f;
}

.username {
  font-weight: bolder;
  font-size: 40px;
}

.qrcode_box {
  display: flex !important;
  margin: 40px 20px 0em 0 !important;
  align-items: center !important;
  flex-direction: column-reverse;
}

.qrcode_text {
  font-size: 25px;
  color: #2f2f2fb8;
  margin-left: 10px;
  text-align: right;
  margin-right: 10px;
}

#qrcode {
  border: 2px solid #808080;
  padding: 8px;
  border-radius: 3%;
}

#qrcode img {
  width: 170px;
  height: auto;
}

.other_text {
  color: #808080;
  font-size: 35px;
  text-align: right;
  margin: 0 15px -23px 0;
  z-index: -1;
}
